:root
{
    --primary-background : #5451fa;
    --lavender:#dcdafe;
    --armadillo:#4a4a4a;
    --aluminium : #979797;
}
.blue-tick-icon{
    color:var(--primary-background);
}
.card{
    background-color: var(--lavender);
    height : max-content;
    padding : 30px;
    padding-top : 0;
    width: max-content;
    position: relative;
}
    .avatar{
        display: flex;
        position : absolute;
        top : 20%;
        justify-content: center;
        left : 50%;
        transform : translate(-50%,0);
    }
